body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

html,
body {
  margin: 0;
  padding: 5;
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#map {
  width: 95%; 
  position: relative;
  height: 95%; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
  border-radius: 4px; 
}

#map svg {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  #map svg circle {
    pointer-events: auto;
  }

  header {
    display: flex;
    align-items: baseline;
    gap: 0.2em;
    width: 100%;
    max-width: 80em;
    margin-bottom: 1.5rem;
  }
  
  .time-filter {
    margin-left: auto;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.05rem;
  }
  
  .time-filter input[type='range'] {
    width: 200px;
  }
  
  .time-filter time {
    display: block;
    font-weight: 600;
  }
  
  .time-filter em {
    display: block;
    font-style: italic;
    color: #666;
  }
  
