body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

html,
body {
  margin: 0;
  padding: 5;
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#map {
  width: 95%; 
  position: relative;
  height: 95%; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
  border-radius: 4px; 
}

#map svg {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  #map svg circle {
    pointer-events: auto;
  }

  header {
    display: flex;
    align-items: baseline;
    gap: 0.2em;
    width: 100%;
    max-width: 80em;
    margin-bottom: 1.5rem;
  }
  
  .time-filter {
    margin-left: auto;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: -0.5rem;
  }
  
  .time-filter input[type='range'] {
    width: 400px;
  }
  
  .time-filter time {
    display: block;
    font-weight: 600;
  }
  
  .time-filter em {
    display: block;
    font-style: italic;
    color: #666;
  }
  
/* shared color variables for circles + legend swatches */
#map svg circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  background-color: var(--color);
  fill: var(--color);
}

/* legend container */
.legend {
  display: flex;
  gap: 1px;
  margin-block: 0.75rem;
  width: 95%;
  max-width: 80em;
}

/* legend swatches */
.legend > div {
  flex: 1;
  padding: 0.35rem 0.75rem;
  font-size: 0.85rem;
  color: white;
  text-align: center;
}
